mixin meta-h5()
  meta(name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1")

mixin favicon()
  link(rel="shortcut icon" href="data:image/ico;base64,aWNv" type="image/x-icon")

mixin analytics()
  //- add your analygics here

mixin meta-seo()
  meta(name="keyword" content="")
  meta(name="description" content="")
